.btn-animated {
    width: 100px;
    height: 34px;
    transition: font-size 2s, width 1s ease, background-color 1s, height 2s;
}

.btn-animated:hover {
    width: 250px;
    height: 80px;
    background-color: red;
    font-size: 40px;

}


/*when its ".todo" ".ng" this will execute two seperate elements to do something*/

/*when its .todo.ng this will execute when both are active then it execute elements*/


.todo-anim {

}

.todo-anim.ng-enter {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

.todo-anim.ng-leave {

  -webkit-animation-name: rollOut;
  animation-name: rollOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}